<div class="carousel">
  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div [hidden]="hideCarouselItem" class="firstItem active">
      <app-balance></app-balance>
    </div>
    <div class="secondItem">
      <div [hidden]="hideCarouselItem === false" class="graphCard">
        <h5>Last 7 days</h5>
        <app-chart></app-chart>
      </div>
    </div>
  </div>
  <!-- Indicators -->
  <div class="carousel-indicators">
    <button (click)="toggleShowCarouselItem()"></button>
    <button (click)="toggleShowCarouselItem()"></button>
  </div>
</div>
