<h1 class="greeting">Hi John,</h1>
<div class="cards">
  <div class="balance">
    <h4>Balance</h4>
    <h1>9,485,760 <span>UGX</span></h1>
    <h4>Spent this week</h4>
    <h3>485,760 <span>UGX</span></h3>
  </div>
  <div class="actions">
    <p>Quick Actions</p>
    <div class="actionContainer">
      <div class="action">
        <a>
          <mat-icon>view_agenda</mat-icon>
          <span>Top Up</span>
        </a>
      </div>
      <div class="action">
        <a>
          <mat-icon> call_made</mat-icon>
          <span>Send Money</span>
        </a>
      </div>
      <div class="action">
        <a>
          <mat-icon> call_received</mat-icon>
          <span>Collect</span>
        </a>
      </div>
      <div class="action">
        <a>
          <mat-icon> vertical_align_bottom</mat-icon>
          <span>Withdraw</span>
        </a>
      </div>
    </div>
  </div>
</div>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <!-- Position Column -->
  <ng-container matColumnDef="position">
    <th mat-header-cell *matHeaderCellDef>No.</th>
    <td mat-cell *matCellDef="let element" class="positionColumn">
      <mat-icon
        [ngClass]="{
          completed: element.status === 'Completed',
          pending: element.status === 'Pending',
          failed: element.status === 'Failed'
        }"
        >{{ element.position }}</mat-icon
      >
    </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let element">
      <p class="columnText">
        {{ element.name }}
      </p>
    </td>
  </ng-container>

  <!-- amount Column -->
  <ng-container matColumnDef="amount">
    <th mat-header-cell *matHeaderCellDef>amount</th>
    <td mat-cell *matCellDef="let element">
      <p class="columnText">
        {{ element.amount }}
      </p>
    </td>
  </ng-container>

  <!-- status Column -->
  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef>status</th>
    <td mat-cell *matCellDef="let element">
      <p
        [ngClass]="{
          completed: element.status === 'Completed',
          pending: element.status === 'Pending',
          failed: element.status === 'Failed'
        }"
        class="columnText"
      >
        {{ element.status }}
      </p>
    </td>
  </ng-container>
  <ng-container matColumnDef="time">
    <th mat-header-cell *matHeaderCellDef>time</th>
    <td mat-cell *matCellDef="let element">
      <p class="columnText">
        {{ element.time }}
      </p>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
