<h1 class="greeting">Hi John,</h1>
<h3 class="today">Today</h3>
<div class="cards">
  <div class="balance">
    <p>Balance</p>
    <h1>0 <small>UGX</small></h1>
    <div class="amount">
      <span>
        <p>Incoming</p>
        <h3>0 <small>UGX</small></h3>
      </span>
      <span>
        <p>Outgoing</p>
        <h3>0 <small>UGX</small></h3>
      </span>
    </div>
  </div>
  <div class="actions">
    <p>Quick Actions</p>
    <div class="buttonContainer">
      <button class="buttons">
        <mat-icon>view_agenda</mat-icon>
        <p>Top Up</p>
      </button>
      <button class="buttons">
        <mat-icon> call_made</mat-icon>
        <p>Send Money</p>
      </button>
      <button class="buttons">
        <mat-icon> call_received</mat-icon>
        <p>Collect</p>
      </button>
      <button class="buttons">
        <mat-icon> vertical_align_bottom</mat-icon>
        <p>Withdraw</p>
      </button>
    </div>
  </div>
</div>
<p class="recent">Recent Transactions</p>
<div class="noTransactions">
  <img src="assets/images/icons8-clipboard-64.png" alt="No transactions" />
  <h3>No transactions yet</h3>
  <p>After your first transaction, you will be able to view it here</p>
  <button>Got it</button>
</div>
