<h1 class="greeting">Hi John,</h1>
<h3 class="today">Today</h3>
<div class="cards">
  <div class="balance">
    <h4>Balance</h4>
    <h1>0 <span>UGX</span></h1>
    <div class="transactionAmountsContainer">
      <span>
        <h4>Incoming</h4>
        <h3>0 <span>UGX</span></h3>
      </span>
      <span class="outgoingAmount">
        <h4>Outgoing</h4>
        <h3>0 <span>UGX</span></h3>
      </span>
    </div>
  </div>
  <app-actions></app-actions>
</div>
<p class="recent">Recent Transactions</p>
<div class="noTransactions">
  <img src="assets/images/icons8-clipboard-64.png" alt="No transactions" />
  <h3>No transactions yet</h3>
  <p>After your first transaction, you will be able to view it here</p>
  <button>Got it</button>
</div>
