<mat-toolbar>
  <img src="assets/images/logo.png" alt="logo" /> <span class="spacer"></span>

  <button>
    <mat-icon>notifications_none</mat-icon>
  </button>
  <div class="userInitials" (click)="toggleShowNoDataComponent()">KJ</div>
</mat-toolbar>
<mat-sidenav-container fxLayout="row wrap">
  <mat-sidenav mode="side" opened>
    <div class="logo">
      <img src="assets/images/blackLogo.png" alt="logo" />
    </div>
    <div class="navTitles">
      <p>YOUR ACCOUNT</p>
    </div>
    <button mat-button class="menu-button">
      <mat-icon>home</mat-icon>
      <span>Home</span>
    </button>
    <button mat-button class="menu-button">
      <mat-icon>compare_arrows</mat-icon>
      <span>Transfer</span>
    </button>
    <button mat-button class="menu-button">
      <mat-icon>bar_chart</mat-icon>
      <span>History</span>
    </button>
    <button mat-button class="menu-button">
      <mat-icon>account_circle</mat-icon>
      <span>Profile</span>
    </button>
    <button mat-button class="menu-button">
      <mat-icon>settings</mat-icon>
      <span>Settings</span>
    </button>
    <button mat-button class="menu-button">
      <mat-icon>view_agenda</mat-icon>
      <span>Billing</span>
    </button>
    <div class="navTitles">
      <p>SUPPORT</p>
    </div>

    <button mat-button class="menu-button">
      <mat-icon>help</mat-icon>
      <span>FAQ</span>
    </button>
    <button mat-button class="menu-button">
      <mat-icon>help</mat-icon>
      <span>Help</span>
    </button>
    <div class="profile" (click)="toggleShowNoDataComponent()">
      <div class="userInitials">
        <p>KJ</p>
      </div>
      <span>Kizito John</span>
    </div>
  </mat-sidenav>
  <!-- Toggle between data and no data view -->
  <mat-sidenav-content>
    <app-homepage [hidden]="hideNoDataComponent"></app-homepage>
    <app-no-data [hidden]="hideNoDataComponent === false"></app-no-data>
  </mat-sidenav-content>
</mat-sidenav-container>
